body {
    margin: 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: auto;
    height: 300px;

}
.field {
border-bottom: 1px solid black;
width: 450px;
padding:  25px 0px;
}
button {
    width: 7rem;
    height: 2rem;
    border-radius: 0.25rem;
    background-color: black;
    color: aliceblue;
}
button:hover {
    background-color: #a7d2f9;
    color: black;
}